@font-face {
  font-family: ziku;
  src: url("../asset/fonts/Helvetica.ttf");
}

@font-face {
  font-family: ziku-b;
  src: url("../asset/fonts/Helvetica-Bold.ttf");
}

/* All vareable */
:root {
  --bg: #0700DC;
}

/* all elements */
* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: ziku;
  font-weight: lighter;
}

.full-card {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
}

.bg {
  color: #fff;
  background-color: var(--bg);
}
