@font-face {
  font-family: ziku;
  src: url("../asset/fonts/Helvetica.ttf");
}

@font-face {
  font-family: ziku-b;
  src: url("../asset/fonts/Helvetica-Bold.ttf");
}

/* All vareable */
:root {
  --bg: #0700DC;
}

/* all elements */
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

body {
  font-family: ziku;
  font-weight: lighter;
}

/* Defult */
.def {
  user-zoom: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

/* App logo */
.app-logo {
  width: 80px;
  height: 20px;
  position: absolute;
  margin-top: 30px;
  margin-left: 30px;
}

.full-card {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.bg {
  color: #fff;
  background: var(--bg);
}

/* Intro image */
.intro-img {
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 500px;
  min-width: 200px;
  position: absolute;
  transform: translate(-50%, -50%);
}


.flex {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
}

.love-top-sml {
  left: 219px;
  z-index: 1;
  position: absolute;
}

.in-2 {
  z-index: 99;
}

/* Position relative */
.pr {
  position: relative;
}

/* Position absolute */
.pa {
  position: absolute;
}

/* small icon + rotate */
.icon-sml {
  width: 25px;
  height: 25px;
  align-items: center;
  justify-content: center;
  transform: rotate(20deg);
  -o-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
}

/* small icon svg */
.icn-sml svg {
  width: 100%;
}

/* for all element 100% */
.full {
  width: 100%;
}

.rou {
  border-radius: 50%;
}

.b-s {
  width: 20px;
  height: 20px;
}

.b-m {
  width: 30px;
  height: 30px;
}

.b-l {
  width: 50px;
  height: 50px;
}

/* Element object */
.object {
  width: 100%;
  padding: 5px 0;
  align-items: center;
  justify-content: center;
}

/* button */
.btn {
  color: #fff;
  cursor: pointer;
  padding: 15px 40px;
  border-radius: 8px;
  background: #008cff;
  transition: all .3s ease;
  box-shadow: 0px 0px 15px #008cff;
}

.proWordSpl.on {
  opacity: 0;
  transform: translateY(400px);
}

.proWordSpl {
  opacity: 1;
  transition: all .4s ease !important;
}
.proTitle {
  transition: all .4s ease;
}

.proTitle.on {
  opacity: 0;
  transform: translateX(-300px);
}

.f-right {
  width: 95%;
  justify-content: right;
}
